__pycache__/
*.py[cod]
*$py.class
*.log
*.out
*.err
pip-log.txt
pip-delete-this-directory.txt
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
desktop.ini
env/
venv/
ENV/
.venv/
.env/
src/data/*.pkl
*.sqlite3
*.db
*.tmp
.ipynb_checkpoints/
*.spec
dist/
build/
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache
pytest_cache/
*.mocha
*.pytest_cache
logs/
*.pem
*.key
*.crt
*.json
docs/_build/
*.docset